/* You can add global styles to this file, and also import other style files */

.tp-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
 }
 .tp-full-width {
    width: 100%;
 }

 .mt-5{
    margin-top: 50px;
}

.mt-3{
   margin-top: 10px;
}
